# **(Quase) mais uma Análise Exploratória de Dados sobre o Titanic**

![titanic](https://mega.ibxk.com.br//2021/04/16/16095209780079.jpg?ims=1920x480)

A idéia deste trabalho surgiu numa aula de curso de Data Science em que usamos o dataset do Titanic. Nos meus estudos particulares eu sempre relutei em usá-lo porque ele é que nem o *gremlins*: à todo o momento aparecem uns trocentos. Então... eu não queria ser "mais um".
Mas na aula eu não pude fugir dele. Então, enquanto ele nos era apresentado e a turma interagia com perguntas, veio-me o entusiamo de tentar dar um jeito para que o trabalho não fosse "mais um".  
Assim, apresento aqui a Análise Exploratória deste dataset com um pouco do meu toque.

---

## Sobre o Dataset

Este dataset foi disponilizado no [Kaggle](https://www.kaggle.com/c/titanic) em 2012 para uma competição de aprendizado de máquina para prever quais pessoas sobreviveram e ele possui as seguintes informações*:

| Coluna      | Descrição | Valor Esperado
| ----------- | ----------- | ----------- |
| pclass | Classe do Ticket | 1 = 1ª<br> 2 = 2ª<br> 3 = 3ª |
| name | Nome do passageiro |
| sex | Sexo |
| Age | Idade (em anos) e frações de meses |
| sibsp | Qtd de irmãos/cônjuge à bordo |
| parch | Qtd de pais/filhos à bordo |
| ticket | Número do Ticket | 
| fare | Preço da passagem | 
| cabin | Número da cabine | 
| embarked | Porto de embarque | C = Cherbourg<br> Q = Queenstown<br> S = Southampton

\* As informações apresentadas são exclusivamente do que faremos uso.
<br><br>
Como este notebook foi criado e, originalmente, hospedado no Kaggle, a plataforma sugeriu os códigos abaixo para a importação das biliotecas. Assim, vamos deixar como está.

#### Importando as bibliotecas e listando os arquivos do Kaglle

In [1]:
from jedi import settings
settings.case_insensitive_completion = True

In [2]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/titanic/train.csv
/kaggle/input/titanic/test.csv
/kaggle/input/titanic/gender_submission.csv

Por ser um dataset para aprendizado de máquina (AM), temos dois arquivos que nos interessam: train.csv e test.csv.
Eles possuem a mesma estrutura mas foram separados porque em um algoritmo de AM usamos um conjunto de dados (train.csv) para treinar este modelo. Uma vez treinado, usamos os dados chamados de teste (test.csv) para conferir se o modelo previu corretamente a informação desejada.  
Vale ressaltar que AM não é o nosso foco aqui. Assim, só saiba que para termos as informações completa de todos os passeiros temos que juntar os dois conjuntos de dados.

### Importando os arquivos e exibindo as suas primeiras linhas

In [3]:
train_data = pd.read_csv("/kaggle/input/titanic/train.csv")
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
test_data = pd.read_csv("/kaggle/input/titanic/test.csv")
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

Concatenando os dois datasets (dataframes)

In [5]:
titanic = test_data + train_data